# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore specific files
!Gemfile
!Dockerfile

### Above combination will ignore all files without extension ###

deprecated
*.o
.vscode/
practice-material/
*.out
